*{ margin:0; padding:0; }
html,body{width:100%;height:100%;background-color: beige;}

body{
  display: flex;
  flex-flow: row nowrap;
}

aside{
  flex: 2;
  height: 100%;
  border-right: 1px dashed black;
}
aside img{
  display: block;
  margin: 1em auto;
  width: 75%;
  

}
aside h1{ margin: 1em 0; text-align: center;}
aside ul{ padding: 2em; list-style: none;}
aside ul li{ margin: 1em;}
.email-icon:before{ 
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f1fa";
  color: black;
  margin-right: 5px;
}
.github-icon:before{ 
  display: inline-block;
  font-family: "FontAwesome"; 
  content: "\f09b";
  color: black;
  margin-right: 5px;
}
.linkedin-icon:before{ 
  display: inline-block;
  font-family: "FontAwesome"; 
  content: "\f08c";
  color: black;
  margin-right: 5px;
}

aside button{
  display: block;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1em;
  outline: none;
}

section{
  flex: 5;
  height: 100%;
}

nav{
  flex: 1;
  color: black;
}
nav ul{
  list-style: none;
  width: 90%;
  padding: 0.5em 0;
  margin-top: 5em;
  background-color: white;
  border-radius: 5px;
}
nav ul li{
  margin: 0.5em;
  text-align: center;  
}
nav ul li:hover{ background-color: beige; }

nav ul li a{
  text-decoration: none;
}