@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
*{ margin:0; padding:0; font-family: Roboto;}
html,body{width:100%;height:100%;background-color: #f4f5f6;color:#eafc40;}

a{color:#eafc40;}

body{
  display: flex;
  flex-flow: row nowrap;
}

aside{
  flex: 2;
  height: 100%;
  border-right: 1px dashed black;
  background-color: #1ed2f4;
  
}
aside img{
  display: block;
  margin: 1em auto;
  width: 75%;
  

}
aside h1{ margin: 1em 0; text-align: center;}
aside ul{ padding: 2em; list-style: none;}
aside ul li{ margin: 1em;}
.email-icon:before{ 
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f1fa";
  color: black;
  margin-right: 5px;
}
.github-icon:before{ 
  display: inline-block;
  font-family: "FontAwesome"; 
  content: "\f09b";
  color: black;
  margin-right: 5px;
}
.linkedin-icon:before{ 
  display: inline-block;
  font-family: "FontAwesome"; 
  content: "\f08c";
  color: black;
  margin-right: 5px;
}

aside button{
  display: block;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
  font-size: 1.1em;
  outline: none;
  background-color: #D6E2D2; 
  border: 2px solid #E69363;
}
aside button:hover{background-color: #E69363;}

section{
  flex: 5;
  height: 100%;
  padding: 1em;
}
section h1{ font-size: 2em; margin: 1em; color: black;}
section form{ margin: 1em; margin-left: 2em; padding:1em; text-align: center;}
section form input, section form textarea{padding: 1em; margin:0.25em; border-radius: 5px; outline: none; width: 40%;}
section form input[type='submit']{margin:1em; width: 40%; background-color: #D6E2D2; border: 2px solid #E69363; font-size: 1.1em;}
section form input[type='submit']:hover{padding: 1em; margin:1em; width: 40%; background-color: #E69363;}

nav{
  flex: 1;
  color: black;
}
nav ul{
  list-style: none;
  width: 90%;
  padding: 0.5em 0;
  margin-top: 5em;
  background-color: #CFE1D6;
  border-radius: 5px;
}
nav ul li{
  margin: 0.5em;
  text-align: center;  
}
nav ul li:hover{ background-color: #F5D797; }

nav ul li a{
  text-decoration: none;
}